/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
.wrapper{
    width: 100%;
    height: 100vh;
    /* DEBUG */
    background-color:  rgba(0, 0, 0, 0.227);
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type:none;
}
img{
    max-width: 100%;
}
.mt1rem{ margin-top: 1rem;
}
.mb1rem{
    margin-bottom: 1rem;
}
h2,h3{
    color: white;
}
h3{
    margin: .5rem 0;
}
/* HEADER */
header{
    height: 70px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    /* debug */
    background-color: rgba(0, 0, 0, 0.651);
}
header a{
    display: inline-block;
    margin-right: 2rem;
    background-color: rgba(0, 0, 0, 0.227);
    padding: .5em 1em;
    border-radius: 25px;
    border-color: white;
    
    
}
@media screen and (max-width:600px){
    header{
        width: calc(100% - 70px);
    }
}
/* /HEADER */

/* MAIN */
main{
    display: flex;
    height: calc(100% - 70px);
    width: 100%;
}

/* SIDEBAR */
.sidebar{
    height:100%;
    width: 200px;
    padding-top: 1em;
    padding-left: 1em;
    position: relative;
    color: #717171;
    /* DEBUG */
    background-color: black
}
.sidebar ul li {
    margin: 1rem 0;
}

/* section-spotify */
.section-spotify ul li::before{
     font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f015";
      margin-right: 2px;
      font-size: 1.5rem;

}
.logo-large{
    width: 100px;
}
.logo-small{
    display: none;
    width: 2rem;
}
@media  screen and (max-width:600px) {
    .sidebar{
        width: 70px;
        padding-top: 0;
       
    }
    .section-spotify ul a{
        display: none;
    }
    .logo-large{
        display: none;
    }
    .logo-small{
        display: inline-block;
    }
    
}
/* section-playlist */
.playlist ul li:first-child::before{
    font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f015";
      margin-right: 2px;
      font-size: 1.5rem;

}
@media screen and (max-width:600px){
    .playlist{
        display: none;
    }
}

/* sidebar-bottom */
.sidebar-bottom{
    position: absolute;
    bottom: .5rem;
    left: 1em;
    width: 100%;
}
hr{
    width: 80%;
}

/* CONTENT */
main{
    height:calc(100% - 70px);
}
.content{padding-top: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    width:calc(100% - 200px);
    overflow: auto;
    /* debug */
    background-color: #141922;
    color: #717171;
}
@media screen and (max-width:600px){
    .content{
        width: calc(100% - 70px);
    }
}
/* NAV-LIST */
.nav-list{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #717171;
}
@media screen and (max-width:1100px){
    .nav-list{
        flex-wrap: wrap;
    }
    .nav-list li {
        width: calc((100% / 5) - (4rem/ 5));
    }
    .nav-content{
        text-align: center;
    }
}
@media screen and (max-width:700px){
    .nav-list li {
        width: calc((100% / 3) - (2rem / 3));
    }
}
@media screen and (max-width:600px){
    .nav-list li {
        width: calc((100% / 4) - (3rem / 4));
    }

}

/* RECENTLY PLAYED */
.section-recently h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.row-recently{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

}
.col-recently{
    width: calc((100% / 6) - (2.5rem / 6));
    text-align: center;
}

@media screen and (max-width:1100px){
   
    .col-recently{
        width: calc((100% / 4) - (1.5rem / 4));
    }
}
@media screen and (max-width:700px){
    .col-recently{
        width: calc((100% / 2) - (.5rem / 2));
    }
}

/* SECTION CREATED */

.row-created{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.col-created{
    width: calc((100% / 6) - (.5rem / 2));
    text-align: center;
}
@media screen and (max-width:1100px){
    .col-created{
        width: calc((100% / 4) - (.5rem / 2));
    }

}
@media screen and (max-width:700px){
    .col-created{
        width: calc((100% / 2) - (.5rem / 2));
    }
}


/* SECTION ARTIST */
.row-artist{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.col-artist{
    width: calc((100% / 6) - (.5rem / 2));
    text-align: center;
}

.card-artist img{
    border-radius: 50%;
}
@media screen and (max-width:1100px){
    .col-artist{
        width: calc((100% / 4) - (.5rem / 2));
    }

}
@media screen and (max-width:700px){
    .col-artist{
        width: calc((100% / 2) - (.5rem / 2));
    }
}


/* PLAYER */
.player{
    height: 70px;
    width: 100%;
    /* DEBUG */
    background-color: lightgrey;
}

